.gateway-settings {
  min-height: 100vh;
}

.auto-manuel-btns {
  display: flex;
  align-items: center;
  gap: 16px;

  padding-bottom: 16px;
  border-bottom: 1px solid #d8d9e0;
}

.payment-gateways {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 34px;
}

